* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border: 0px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(129, 129, 129);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:active {
  background-color: rgb(155, 155, 155);
}

body {
  margin: 0px;
}

.main-wrap {
  display: flex;
  flex-wrap: wrap;
}

.top-bar {
  height: 60px;
}

.split-wrapper {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  background-color: black;
  padding: 20px;
  .code-wrap {
    height: 100%;
    width: 70%;
    border-radius: 10px;
  }
  .terminal-wrap {
    height: 100%;
    width: 30%;
    border-radius: 10px;
  }
}